{% load static %}
<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Qraft Labs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="icon" href="{% static 'assets/favicon.png' %}" >

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div>
      <link href="{% static 'index.css' %}" rel="stylesheet" />

      <div class="home-desktop-container">
        <div class="home-desktop-home-desktop">
          <div class="home-desktop-navigation-bar">
            <img
              alt="Line41474"
              src="{% static 'assets/line41474-5kh.svg' %}"
              class="home-desktop-line4"
            />
            <img
              alt="Line51475"
              src="{% static 'assets/line51475-lxm.svg' %}"
              class="home-desktop-line5"
            />
            <img
              alt="Line61476"
              src="{% static 'assets/line61476-51nd.svg' %}"
              class="home-desktop-line6"
            />
            <img
              alt="Line31477"
              src="{% static 'assets/line31477-kkor.svg' %}"
              class="home-desktop-line3"
            />
            <img alt="Line71478" src="" class="home-desktop-line7" />
            <img
              alt="Line71479"
              src="{% static 'assets/line71479-csic.svg' %}"
              class="home-desktop-line71"
            />
            <img
              alt="Line81471"
              src="{% static 'assets/line81471-4r6v.svg' %}"
              class="home-desktop-line8"
            />
            <span class="home-desktop-text"><span>Qraft LABS</span></span>
            <span class="home-desktop-text02"><span>QRAFT ACADEMY</span></span>
            <span class="home-desktop-text04"><span>TECHNOLOGISTS</span></span>
            <span class="home-desktop-text06"><span>ENTREPRENEURS</span></span>
            <span class="home-desktop-text08"><span>ABOUT</span></span>
            <img
              alt="Rectangle141471"
              src="{% static 'assets/rectangle141471-5yvn-200h.png' %}"
              class="home-desktop-rectangle14"
            />
            <span class="home-desktop-text10"><span>Log in</span></span>
          </div>
          <img
            alt="MainHeroVideo1471"
            src="{% static 'assets/mainherovideo1471-n28e-1600w.png' %}"
            class="home-desktop-main-hero-video"
          />
          <img
            alt="Rectangle31471"
            src="{% static 'assets/rectangle31471-c8lo-1600w.png' %}"
            class="home-desktop-rectangle3"
          />
          <img
            alt="Line81472"
            src="{% static 'assets/line81472-wb8a.svg' %}"
            class="home-desktop-line81"
          />
          <img
            alt="Line91472"
            src="{% static 'assets/line91472-qml.svg' %}"
            class="home-desktop-line9"
          />
          <span class="home-desktop-text12">
            Fueling Technological Innovation through Cutting-Edge Research
          </span>
          <span class="home-desktop-text13">
            <span>
              <span>
                Transforming Concepts into Cutting-Edge Solutions for a
                Tech-Driven World
              </span>
              <br />
              <span></span>
            </span>
          </span>
          <span class="home-desktop-text18">
            <span>Latest from Qraft Labs</span>
          </span>
          <span class="home-desktop-text20"><span>Ongoing Research</span></span>
          <div class="home-desktop-ct-button-pair">
            <span class="home-desktop-text22"><span>Learn more</span></span>
          </div>
          <div class="home-desktop-news-card">
            <span class="home-desktop-text24">
              <span>
                Revolutionizing Natural Language Processing for Enhanced
                Communication
              </span>
            </span>
            <img
              alt="Rectangle221473"
              src="{% static 'assets/rectangle221473-yx6r-300h.png' %}"
              class="home-desktop-rectangle22"
            />
            <img
              alt="Rectangle231473"
              src=""
              class="home-desktop-rectangle23"
            />
          </div>
          <div class="home-desktop-news-card1">
            <span class="home-desktop-text26">
              <span>
                Breakthrough in Quantum Computing with Unprecedented Speed and
                Accuracy
              </span>
            </span>
            <img
              alt="Rectangle241473"
              src="{% static 'assets/rectangle241473-hglw-300h.png' %}"
              class="home-desktop-rectangle24"
            />
            <img
              alt="Rectangle251473"
              src=""
              class="home-desktop-rectangle25"
            />
          </div>
          <div class="home-desktop-news-card2">
            <span class="home-desktop-text28">
              <span>
                Qraft Labs Pushes the Boundaries of Object Recognition and Scene
                Understanding
              </span>
            </span>
            <img
              alt="Rectangle261473"
              src="{% static 'assets/rectangle261473-8jm-300h.png' %}"
              class="home-desktop-rectangle26"
            />
            <img
              alt="Rectangle271473"
              src=""
              class="home-desktop-rectangle27"
            />
          </div>
          <div class="home-desktop-news-card3">
            <span class="home-desktop-text30">
              <span>
                Qraft Labs Introduces RoboSense, the Next Generation of
                Perception Systems
              </span>
            </span>
            <img
              alt="Rectangle281473"
              src="{% static 'assets/rectangle281473-meod-300h.png' %}"
              class="home-desktop-rectangle28"
            />
            <img
              alt="Rectangle291474"
              src=""
              class="home-desktop-rectangle29"
            />
          </div>
          <div class="home-desktop-frame12">
            <img
              alt="Image1474"
              src="{% static 'assets/image1474-2uga-800h.png' %}"
              class="home-desktop-image"
            />
          </div>
          <div class="home-desktop-research-card">
            <span class="home-desktop-text32">
              <span>
                Advancing Natural Language Processing for African Languages
              </span>
            </span>
            <img
              alt="Rectangle361474"
              src="{% static 'assets/rectangle361474-8t-300h.png' %}"
              class="home-desktop-rectangle36"
            />
            <img
              alt="Rectangle401475"
              src=""
              class="home-desktop-rectangle40"
            />
          </div>
          <div class="home-desktop-research-card1">
            <span class="home-desktop-text34">
              <span>
                Blockchain Applications for Underserved Communities in Africa
              </span>
            </span>
            <img
              alt="Rectangle371474"
              src="{% static 'assets/rectangle371474-eww6-300h.png' %}"
              class="home-desktop-rectangle37"
            />
            <img
              alt="Rectangle411475"
              src=""
              class="home-desktop-rectangle41"
            />
          </div>
          <div class="home-desktop-research-card2">
            <span class="home-desktop-text36">
              <span>Leveraging Big Data for Wildlife Conservation</span>
            </span>
            <img
              alt="Rectangle381474"
              src="{% static 'assets/rectangle381474-135b-300h.png' %}"
              class="home-desktop-rectangle38"
            />
            <img
              alt="Rectangle421475"
              src=""
              class="home-desktop-rectangle42"
            />
          </div>
          <div class="home-desktop-research-card3">
            <span class="home-desktop-text38">
              <span>Exploring Precision Medicine for Infectious Diseases</span>
            </span>
            <img
              alt="Rectangle391474"
              src="{% static 'assets/rectangle391474-e8tg-300h.png' %}"
              class="home-desktop-rectangle39"
            />
            <img
              alt="Rectangle431475"
              src=""
              class="home-desktop-rectangle43"
            />
          </div>
          <span class="home-desktop-text40">
            <span>
              Our research philosophy is driven by a relentless pursuit of
              innovation and a deep commitment to pushing the boundaries of
              knowledge. We believe that research is the cornerstone of
              transformative solutions, and it plays a crucial role in shaping a
              better future
            </span>
          </span>
          <img
            alt="Line191475"
            src="{% static 'assets/line191475-daw.svg' %}"
            class="home-desktop-line19"
          />
          <div class="home-desktop-container1">
            <img
              alt="Quotes1475"
              src="{% static 'assets/quotes1475-xy4w.svg' %}"
              class="home-desktop-quotes"
            />
            <span class="home-desktop-text42">
              <span>
                Innovation is our heartbeat, propelling us forward into
                uncharted territories, redefining what's possible.
              </span>
            </span>
            <span class="home-desktop-text44">
              <span class="home-desktop-text45">
                <span>David Maputo</span>
                <br />
                <span></span>
              </span>
              <span>Research Analyst</span>
            </span>
          </div>
          <div class="home-desktop-footer">
            <img
              alt="Rectangle341476"
              src="{% static 'assets/rectangle341476-dq7-400h.png' %}"
              class="home-desktop-rectangle34"
            />
            <img
              alt="Rectangle451476"
              src="{% static 'assets/rectangle451476-hgyc-400h.png' %}"
              class="home-desktop-rectangle45"
            />
            <img
              alt="Line121476"
              src="{% static 'assets/line121476-yaen.svg' %}"
              class="home-desktop-line12"
            />
            <img
              alt="Rectangle351476"
              src="{% static 'assets/rectangle351476-18sd-200h.png' %}"
              class="home-desktop-rectangle35"
            />
            <img
              alt="Line131476"
              src="{% static 'assets/line131476-ur3.svg' %}"
              class="home-desktop-line13"
            />
            <img
              alt="Line141476"
              src="{% static 'assets/line141476-c9ss.svg' %}"
              class="home-desktop-line14"
            />
            <img
              alt="Line151476"
              src="{% static 'assets/line151476-lqae.svg' %}"
              class="home-desktop-line15"
            />
            <img
              alt="Line161477"
              src="{% static 'assets/line161477-jehb.svg' %}"
              class="home-desktop-line16"
            />
            <img
              alt="Line171477"
              src="{% static 'assets/line171477-kzzi.svg' %}"
              class="home-desktop-line17"
            />
            <img
              alt="Line181477"
              src="{% static 'assets/line181477-rhe.svg' %}"
              class="home-desktop-line18"
            />
            <span class="home-desktop-text50">
              <span>
                <span>Linkedin</span>
                <br />
                <span>Twitter</span>
                <br />
                <span>Facebook</span>
                <br />
                <span>Instagram</span>
                <br />
                <span>Youtube</span>
              </span>
            </span>
            <img
              alt="Rectangle501774"
              src="{% static 'assets/rectangle501774-zgka-200h.png' %}"
              class="home-desktop-rectangle50"
            />
            <span class="home-desktop-text61">
              <span>2023 Qraft LABS</span>
            </span>
            <span class="home-desktop-text63">
              <span>All rights Reserved</span>
            </span>
          </div>
          <img
            alt="Rectangle331477"
            src="{% static 'assets/rectangle331477-95an-800h.png' %}"
            class="home-desktop-rectangle33"
          />
          <span class="home-desktop-text65"><span>View More</span></span>
          <span class="home-desktop-text67"><span>View More</span></span>
          <span class="home-desktop-text69">
            <span>Products from Qraft Labs</span>
          </span>
          <div class="home-desktop-product-card">
            <img
              alt="Rectangle461477"
              src="{% static 'assets/rectangle461477-kmitk-400h.png' %}"
              class="home-desktop-rectangle46"
            />
            <span class="home-desktop-text71"><span>QTranslate</span></span>
            <span class="home-desktop-text73">
              <span>
                QTranslate is an advanced language translation application
                developed by Qraft Labs.
              </span>
            </span>
          </div>
          <div class="home-desktop-product-card1">
            <img
              alt="Rectangle471477"
              src="{% static 'assets/rectangle471477-dbma-400h.png' %}"
              class="home-desktop-rectangle47"
            />
            <span class="home-desktop-text75"><span>QGreen</span></span>
            <span class="home-desktop-text77">
              <span>
                QGreen is an innovative energy management system developed by
                Qraft Labs.
              </span>
            </span>
          </div>
          <div class="home-desktop-product-card2">
            <img
              alt="Rectangle481478"
              src="{% static 'assets/rectangle481478-oc0p-400h.png' %}"
              class="home-desktop-rectangle48"
            />
            <span class="home-desktop-text79"><span>QMedical</span></span>
            <span class="home-desktop-text81">
              <span>
                QTranslate is an advanced language translation application for
                health developed by Qraft Labs.
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
