<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QraftLabs</title>
</head>
<body>
    <div style="width: 1512px; height: 5121px; position: relative; background: #0B1724">
        <div style="width: 1512px; height: 53px; left: 0px; top: 0px; position: absolute; background: white; border: 1px #0B1724 solid">
          <div style="width: 86px; height: 0px; left: 504px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #0B1724 solid"></div>
          <div style="width: 86px; height: 0px; left: 706px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #0B1724 solid"></div>
          <div style="width: 86px; height: 0px; left: 908px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #0B1724 solid"></div>
          <div style="width: 86px; height: 0px; left: -1px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #0B1724 solid"></div>
          <div style="width: 59px; height: 0px; left: 1514px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #0B1724 solid"></div>
          <div style="width: 86px; height: 0px; left: 1312px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #0B1724 solid"></div>
          <div style="width: 86px; height: 0px; left: 1110px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #0B1724 solid"></div>
          <div style="width: 212px; height: 14px; left: 38px; top: 19px; position: absolute; color: #0B1724; font-size: 20px; font-family: Baron Neue; font-weight: 700; letter-spacing: 0.40px; word-wrap: break-word">Qraft LABS</div>
          <div style="width: 212px; height: 40px; left: 494px; top: 20px; position: absolute; text-align: center; color: #0B1724; font-size: 14px; font-family: Baron Neue; font-weight: 700; letter-spacing: 0.28px; word-wrap: break-word">QRAFT ACADEMY</div>
          <div style="width: 212px; height: 40px; left: 702px; top: 22px; position: absolute; text-align: center; color: #0B1724; font-size: 14px; font-family: Baron Neue; font-weight: 700; letter-spacing: 0.28px; word-wrap: break-word">TECHNOLOGISTS</div>
          <div style="width: 212px; height: 40px; left: 904px; top: 22px; position: absolute; text-align: center; color: #0B1724; font-size: 14px; font-family: Baron Neue; font-weight: 700; letter-spacing: 0.28px; word-wrap: break-word">ENTREPRENEURS</div>
          <div style="width: 212px; height: 40px; left: 1101px; top: 22px; position: absolute; text-align: center; color: #0B1724; font-size: 14px; font-family: Baron Neue; font-weight: 700; letter-spacing: 0.28px; word-wrap: break-word">ABOUT</div>
          <div style="width: 198px; height: 53px; left: 1314px; top: 0px; position: absolute; background: #0978F3"></div>
          <div style="width: 212px; height: 40px; left: 1300px; top: 22px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Baron Neue; font-weight: 700; letter-spacing: 0.28px; word-wrap: break-word">Log in</div>
        </div>
        <div style="width: 1512px; height: 900px; left: 0px; top: 53px; position: absolute"></div>
        <div style="width: 1512px; height: 899px; left: 0px; top: 53px; position: absolute; background: rgba(11, 23, 36, 0.45)"></div>
        <div style="width: 901px; height: 0px; left: 1008px; top: 53px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 2.50px #0B1724 solid"></div>
        <div style="width: 1512px; height: 0px; left: 0px; top: 658px; position: absolute; border: 2.50px #0B1724 solid"></div>
        <div style="width: 840px; height: 79px; left: 40px; top: 399px; position: absolute; color: white; font-size: 42px; font-family: Baron Neue; font-weight: 900; word-wrap: break-word">Fueling Technological Innovation through Cutting-Edge Research</div>
        <div style="width: 434px; height: 31px; left: 40px; top: 490px; position: absolute; color: white; font-size: 18px; font-family: Aileron; font-weight: 400; letter-spacing: 0.36px; word-wrap: break-word">Transforming Concepts into Cutting-Edge Solutions for a Tech-Driven World<br/></div>
        <div style="width: 434px; height: 31px; left: 43px; top: 1008px; position: absolute; color: #DCE5EF; font-size: 24px; font-family: Metropolis; font-weight: 700; letter-spacing: 0.48px; word-wrap: break-word">Latest from Qraft Labs</div>
        <div style="width: 434px; height: 31px; left: 43px; top: 2255px; position: absolute; color: #DCE5EF; font-size: 24px; font-family: Metropolis; font-weight: 700; letter-spacing: 0.48px; word-wrap: break-word">Ongoing Research</div>
        <div style="width: 207px; height: 61px; left: 40px; top: 554px; position: absolute">
          <div style="width: 207px; height: 61px; left: 0px; top: 0px; position: absolute; background: #0978F3; border: 0.50px white solid"></div>
          <div style="width: 168px; height: 28px; left: 18px; top: 22px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Aileron; font-weight: 700; letter-spacing: 0.28px; word-wrap: break-word">Learn more</div>
        </div>
        <div style="width: 350px; height: 378px; left: 40px; top: 1056px; position: absolute">
          <div style="width: 301px; height: 85px; left: 16px; top: 279px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 600; letter-spacing: 0.36px; word-wrap: break-word">Revolutionizing Natural Language Processing for Enhanced Communication</div>
          <img style="width: 350px; height: 252px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid" src="https://via.placeholder.com/350x252" />
          <div style="width: 350px; height: 126px; left: 0px; top: 252px; position: absolute; border-left: 1px white solid; border-right: 1px white solid; border-bottom: 1px white solid"></div>
        </div>
        <div style="width: 350px; height: 378px; left: 400px; top: 1056px; position: absolute">
          <div style="width: 325px; height: 68px; left: 16px; top: 279px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 600; letter-spacing: 0.36px; word-wrap: break-word">Breakthrough in Quantum Computing with Unprecedented Speed and Accuracy</div>
          <img style="width: 350px; height: 252px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid" src="https://via.placeholder.com/350x252" />
          <div style="width: 350px; height: 126px; left: 0px; top: 252px; position: absolute; border-left: 1px white solid; border-right: 1px white solid; border-bottom: 1px white solid"></div>
        </div>
        <div style="width: 350px; height: 378px; left: 760px; top: 1056px; position: absolute">
          <div style="width: 301px; height: 31px; left: 16px; top: 275px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 600; letter-spacing: 0.36px; word-wrap: break-word">Qraft Labs Pushes the Boundaries of Object Recognition and Scene Understanding</div>
          <img style="width: 350px; height: 252px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid" src="https://via.placeholder.com/350x252" />
          <div style="width: 350px; height: 126px; left: 0px; top: 252px; position: absolute; border-left: 1px white solid; border-right: 1px white solid; border-bottom: 1px white solid"></div>
        </div>
        <div style="width: 350px; height: 378px; left: 1120px; top: 1056px; position: absolute">
          <div style="width: 315px; height: 31px; left: 16px; top: 273px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 600; letter-spacing: 0.36px; word-wrap: break-word">Qraft Labs Introduces RoboSense, the Next Generation of Perception Systems</div>
          <img style="width: 350px; height: 252px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid" src="https://via.placeholder.com/350x252" />
          <div style="width: 350px; height: 126px; left: 0px; top: 252px; position: absolute; border-left: 1px white solid; border-right: 1px white solid; border-bottom: 1px white solid"></div>
        </div>
        <div style="width: 1512px; height: 710px; left: 0px; top: 1490px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <img style="width: 1512px; height: 710px" src="https://via.placeholder.com/1512x710" />
        </div>
        <div style="width: 350px; height: 341px; left: 40px; top: 2398px; position: absolute">
          <div style="width: 301px; height: 31px; left: 16px; top: 272px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 600; letter-spacing: 0.36px; word-wrap: break-word">Advancing Natural Language Processing for African Languages</div>
          <img style="width: 350px; height: 252px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid" src="https://via.placeholder.com/350x252" />
          <div style="width: 350px; height: 89px; left: 0px; top: 252px; position: absolute; border-left: 1.50px white solid; border-right: 1.50px white solid; border-bottom: 1.50px white solid"></div>
        </div>
        <div style="width: 350px; height: 341px; left: 400px; top: 2398px; position: absolute">
          <div style="width: 334px; height: 31px; left: 16px; top: 271px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 600; letter-spacing: 0.36px; word-wrap: break-word">Blockchain Applications for Underserved Communities in Africa</div>
          <img style="width: 350px; height: 252px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid" src="https://via.placeholder.com/350x252" />
          <div style="width: 350px; height: 89px; left: 0px; top: 252px; position: absolute; border-left: 1.50px white solid; border-right: 1.50px white solid; border-bottom: 1.50px white solid"></div>
        </div>
        <div style="width: 350px; height: 341px; left: 760px; top: 2398px; position: absolute">
          <div style="width: 301px; height: 31px; left: 16px; top: 270px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 600; letter-spacing: 0.36px; word-wrap: break-word">Leveraging Big Data for Wildlife Conservation</div>
          <img style="width: 350px; height: 252px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid" src="https://via.placeholder.com/350x252" />
          <div style="width: 350px; height: 89px; left: 0px; top: 252px; position: absolute; border-left: 1.50px white solid; border-right: 1.50px white solid; border-bottom: 1.50px white solid"></div>
        </div>
        <div style="width: 350px; height: 341px; left: 1120px; top: 2398px; position: absolute">
          <div style="width: 301px; height: 31px; left: 16px; top: 270px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 600; letter-spacing: 0.36px; word-wrap: break-word">Exploring Precision Medicine for Infectious Diseases</div>
          <img style="width: 350px; height: 252px; left: 0px; top: 0px; position: absolute; border: 1.50px white solid" src="https://via.placeholder.com/350x252" />
          <div style="width: 350px; height: 89px; left: 0px; top: 252px; position: absolute; border-left: 1.50px white solid; border-right: 1.50px white solid; border-bottom: 1.50px white solid"></div>
        </div>
        <div style="width: 848px; height: 61px; left: 43px; top: 2304px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 400; letter-spacing: 0.36px; word-wrap: break-word">Our research philosophy is driven by a relentless pursuit of innovation and a deep commitment to pushing the boundaries of knowledge. We believe that research is the cornerstone of transformative solutions, and it plays a crucial role in shaping a better future</div>
        <div style="width: 1430.01px; height: 0px; left: 40px; top: 2292px; position: absolute; border: 0.50px #DCE5EF solid"></div>
        <div style="width: 96px; padding-top: 22.50px; padding-bottom: 19.50px; padding-left: 10.50px; padding-right: 10.50px; left: 512px; top: 3578px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 75px; height: 54px; background: #0978F3"></div>
        </div>
        <div style="width: 695px; height: 180px; left: 447px; top: 3573px; position: absolute; color: white; font-size: 48px; font-family: Aileron; font-weight: 300; letter-spacing: 0.96px; word-wrap: break-word">Innovation is our heartbeat, propelling us forward into uncharted territories, redefining what's possible.</div>
        <div style="width: 572px; height: 66px; left: 446px; top: 3820px; position: absolute"><span style="color: white; font-size: 18px; font-family: Aileron; font-weight: 300; letter-spacing: 0.36px; word-wrap: break-word">David Maputo<br/></span><span style="color: #62A8F9; font-size: 18px; font-family: Aileron; font-weight: 700; letter-spacing: 0.36px; word-wrap: break-word">Research Analyst</span></div>
        <div style="width: 1512.01px; height: 336px; left: 0px; top: 4785px; position: absolute">
          <div style="width: 1512px; height: 335px; left: 0px; top: 1px; position: absolute; background: white"></div>
          <div style="width: 511px; height: 336px; left: 0px; top: 0px; position: absolute; background: #1A367F"></div>
          <div style="width: 335px; height: 0px; left: 511.50px; top: 336px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 1.50px black solid"></div>
          <img style="width: 1001px; height: 152px; left: 511px; top: 0px; position: absolute" src="https://via.placeholder.com/1001x152" />
          <div style="width: 1001.01px; height: 0px; left: 511px; top: 152px; position: absolute; border: 1.50px black solid"></div>
          <div style="width: 15px; height: 0px; left: 50px; top: 101.50px; position: absolute; background: #0B1724; border: 1.50px white solid"></div>
          <div style="width: 15px; height: 0px; left: 50px; top: 131px; position: absolute; background: #0B1724; border: 1.50px white solid"></div>
          <div style="width: 15px; height: 0px; left: 50px; top: 159px; position: absolute; background: #0B1724; border: 1.50px white solid"></div>
          <div style="width: 12px; height: 0px; left: 51px; top: 190px; position: absolute; background: #0B1724; border: 1.50px white solid"></div>
          <div style="width: 12px; height: 0px; left: 51px; top: 219px; position: absolute; background: #0B1724; border: 1.50px white solid"></div>
          <div style="width: 300px; height: 157px; left: 78px; top: 90px; position: absolute; color: white; font-size: 18px; font-family: Aileron; font-weight: 600; letter-spacing: 0.36px; word-wrap: break-word">Linkedin<br/>Twitter<br/>Facebook<br/>Instagram<br/>Youtube</div>
          <div style="width: 1000px; height: 185px; left: 512px; top: 151px; position: absolute; background: white"></div>
          <div style="width: 754px; height: 100px; left: 550px; top: 190px; position: absolute; color: black; font-size: 54px; font-family: Baron Neue; font-weight: 700; letter-spacing: 1.08px; word-wrap: break-word">2023 Qraft LABS </div>
          <div style="width: 209px; height: 18px; left: 550px; top: 250px; position: absolute; color: black; font-size: 18px; font-family: Aileron; font-weight: 600; letter-spacing: 0.36px; word-wrap: break-word">All rights Reserved</div>
        </div>
        <img style="width: 1512px; height: 710px; left: 3px; top: 3978px; position: absolute" src="https://via.placeholder.com/1512x710" />
        <div style="width: 434px; height: 31px; left: 1036px; top: 1024px; position: absolute; text-align: right; color: #62A8F9; font-size: 18px; font-family: Metropolis; font-weight: 700; letter-spacing: 0.36px; word-wrap: break-word">View More</div>
        <div style="width: 434px; height: 31px; left: 1036px; top: 2366px; position: absolute; text-align: right; color: #62A8F9; font-size: 18px; font-family: Metropolis; font-weight: 700; letter-spacing: 0.36px; word-wrap: break-word">View More</div>
        <div style="width: 434px; height: 31px; left: 40px; top: 2791px; position: absolute; color: #DCE5EF; font-size: 24px; font-family: Metropolis; font-weight: 700; letter-spacing: 0.48px; word-wrap: break-word">Products from Qraft Labs</div>
        <div style="width: 471px; height: 473px; left: 39px; top: 2847px; position: absolute">
          <img style="width: 471px; height: 373px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/471x373" />
          <div style="width: 434px; height: 31px; left: 1px; top: 392px; position: absolute; color: #62A8F9; font-size: 18px; font-family: Aileron; font-weight: 700; letter-spacing: 0.36px; word-wrap: break-word">QTranslate</div>
          <div style="width: 471px; height: 54px; left: 0px; top: 419px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 400; letter-spacing: 0.36px; word-wrap: break-word">QTranslate is an advanced language translation application developed by Qraft Labs.</div>
        </div>
        <div style="width: 472px; height: 473px; left: 521px; top: 2847px; position: absolute">
          <img style="width: 470px; height: 373px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/470x373" />
          <div style="width: 434px; height: 31px; left: 0px; top: 392px; position: absolute; color: #62A8F9; font-size: 18px; font-family: Aileron; font-weight: 700; letter-spacing: 0.36px; word-wrap: break-word">QGreen</div>
          <div style="width: 471px; height: 54px; left: 1px; top: 419px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 400; letter-spacing: 0.36px; word-wrap: break-word">QGreen is an innovative energy management system developed by Qraft Labs. </div>
        </div>
        <div style="width: 472px; height: 473px; left: 1001px; top: 2847px; position: absolute">
          <img style="width: 471px; height: 373px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/471x373" />
          <div style="width: 434px; height: 31px; left: 0px; top: 392px; position: absolute; color: #62A8F9; font-size: 18px; font-family: Aileron; font-weight: 700; letter-spacing: 0.36px; word-wrap: break-word">QMedical</div>
          <div style="width: 471px; height: 54px; left: 1px; top: 419px; position: absolute; color: #DCE5EF; font-size: 18px; font-family: Aileron; font-weight: 400; letter-spacing: 0.36px; word-wrap: break-word">QTranslate is an advanced language translation application for health developed by Qraft Labs.</div>
        </div>
      </div>
</body>
</html>